@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(https://html.tavonline.co/mat/default/images/bg.png);
    background-color: #fafafa;
}

ul,
li {
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

.btn {
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
    display: flex;
}

.content-left {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    /* position: relative; */
}

.content-right {
    width: 75%;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

.content-right-menu {
    margin-bottom: 15px;
}

.content-right-bottom {
    margin: 15px 0;
}

.profile {
    background: #fff;
    /* display: inline-block; */
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
}

.profile-name {
    padding: 20px;
    line-height: 18px;
}

.profile-name .name {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
    color: #333;
}

.profile-name .job {
    font-size: 13px;
    color: #777;
}

.profile-img {
    margin-top: -20px;
}

.profile-img img {
    width: 100%;
    clip-path: polygon(0 9%, 100% 0, 100% 91%, 0% 100%);

}

.list {
    list-style: none;
    margin: 2px 0px 8px 35px;
    padding-left: 0px;
    display: block;
}

.list li {
    border-left: solid 2px #eee;
    padding: 0 0 23px 20px;
    font-size: 14px;
    color: #787878;
    margin: 0;
    position: relative;
}

.list li:last-child {
    border: 0;
    margin-top: -2px;
    margin-left: 2px
}

.list li:before {
    content: "";
    border: solid 2px;
    border-color: #ffc500;
    width: 4px;
    height: 4px;
    border-radius: 50px;
    font-size: 8px;
    margin-left: -25px;
    margin-top: 2px;
    font-weight: 400;
    background: #fff;
    display: block;
    position: absolute;

}

.list li:first-child:before {
    margin-left: -40px;
    margin-top: -30px;
    margin-bottom: 10px;
    border: 0;
    width: 40px;
    height: 40px;
    background: #ffc500;
    position: relative;
}

ul.list li:first-child:after {
    background: url(images/glasses.png) no-repeat;
    content: '';
    width: 30px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 16px -15px;
    background-size: 27px 10px;
}

.list li p {
    font-size: 13.5px;
    color: #7f7f7f;
    line-height: 12px;
}

.list li span {
    color: #000;
}

.profile-download {
    padding: 15px 30px 30px 15px;
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc500;
    width: 148px;
    height: 37px;
    border-radius: 50px;
}

.btn:hover {
    background-color: #ffb100;
}

.btn-text {
    font-size: 14px;
    font-weight: 500;
    margin: 0 15px;
}

.btn-icon {
    background-color: #fff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon {
    font-size: 9px;
}

/* -----------------header-------------------- */
.content-right {
    padding: 0 15px;
}

.content-right-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 70px;
    padding: 0 20px 0 0;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    box-shadow: 0px 2px 92px 0px rgba(1, 1, 1, 0.07);
    margin-bottom: 40px;
}

.menu-list {
    justify-content: space-between;
}

.menu-list>li {
    padding: 0px 10px;
    line-height: 70px;
    text-align: center;
}

.hometab {
    width: 68px;
    height: 70px;
    background-color: #ffc500;
    border-radius: 6px 0 0 6px;
    margin-right: 10px;
}

.hometab:hover {
    background-color: #ffb100;
}

.hometab i {
    font-size: 18px;
}

.item {
    font-size: 14px;
    font-weight: bold;
    color: #000;
    line-height: 73px;
    display: block;
}

.item:hover {
    color: #ffc500;
}

.menu-icon-social {
    padding-right: 10px;
}

.menu-icon-item {
    padding: 0px 10px;
    line-height: 20px;
    font-size: 11px;
    transition: all ease 0.2s;
}

.menu-icon .btn {
    width: 116px;
}

.fb:hover {
    color: #3b5998 !important;
    font-size: 13px;
}

.tw:hover {
    color: #55acee !important;
    font-size: 13px;
}

.ins:hover {
    color: #cd486b !important;
    font-size: 13px;
}

.dr:hover {
    color: #ea4c89 !important;
    font-size: 13px;
}

.hamburger {
    padding: 10px 0px 10px 10px;
    position: relative;
}

.hamburger i {
    font-size: 20px;
}
.hamburger::before {
    content: "";
    display: block;
    width: 1px;
    height: 70px;
    background: #ccc;
    position: absolute;
    left:-8px;
    bottom: -15px;
}

/* --------------------------------content right content-------------------- */
.active {
    display: block;
}

.content-right-content {
    border-radius: 6px;
    background-color: #fff;
    padding: 15px 0;
    box-shadow: 0px 2px 92px 0px rgba(1, 1, 1, 0.07);
}

.section {
    padding: 30px 30px 45px;
    box-sizing: border-box;
}

.section-title {
    padding: 0 3px;
    position: relative;
    display: inline-block;
}

.section-title h2 {
    font-size: 18px;
}

.section-title span {
    position: absolute;
    background-color: #ffc500;
    height: 7px;
    width: 100%;
    bottom: 0;
    opacity: 0.4;
    left: 0;
}

.section p {
    margin: 30px 0 0;
    font-size: 13px;
    color: #4c4c4c;
    line-height: 24px;
}

.section.color {
    background-color: #fafafa;
}

/* ------------------my service------------- */
.section-content {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-left: -15px;
    margin-right: -15px;
}

.service-item {
    margin: 15px;
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
}


.service-item i:before {
    font-size: 44px;
    margin-left: 0;
}

.service-item h3 {
    font-size: 14px;
    color: #333;
    margin-top: 12px;
    font-weight: 500;
}

.service-item p {
    margin-top: 10px;
    color: #989898;
    font-weight: 400;
    line-height: 18px;
}

/* -----------------------skill----------------------- */
.section-skill {
    width: 50%;
    padding: 45px 30px 30px 40px;
}

.section-skill-container {
    margin-top: 45px;
}

.section-skill-container p {
    font-size: 12px;
    font-weight: 500;
}

.container-skill {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    margin: 10px 0 20px;
    display: block;
    height: 5px;
    position: relative;
    width: 100%;
}

.html {
    width: 80%;
    background-color: #ffc500;
}

.css {
    width: 60%;
    background-color: #ffc500;
}

.js {
    width: 30%;
    background-color: #ffc500;
}

/* -------------------footer-------------- */
.footer {
    display: block;
}

.content-right-footer {
    background: #1e1e1e;
    height: 70px;
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    line-height: 72px;
    margin: 30px 0;
    justify-content: space-between;
}

.footer-name {
    width: 50%;
    padding: 0 30px;
    font-size: 15px;
}

.footer-copyright {
    font-size: 12px;
    color: #9C9c9c;
    padding: 0 30px;
}

.footer-copyright a {
    color: #fff;
}

/* -----------------------resume----------------- */
.resume-container {
    margin-top: 40px;
}

.resume-title {
    width: 50%;
}

.resume-title {
    list-style: none;
    margin: 2px 0px 8px 28px;
    display: block;
}

.resume-title.list li {
    padding: 0 0 30px 30px;
}

.resume-title.list li:before {
    margin-left: -35px;
    margin-top: 5px;
}

.resume-title.list li:first-child {
    padding: 0 0 50px 30px;
    display: flex;
}

.resume-title.list li:first-child:before {
    margin: -13px -55px;
    border: 0;
    width: 50px;
    height: 50px;
    position: relative;
}

.resume-title i {
    position: absolute;
    z-index: 1;
    line-height: 25px;
    margin-left: -6px;
}

.resume-title.list li h2 {
    font-size: 18px;
    color: #333;
    margin-left: 12px;
    line-height: 28px;
    position: absolute;
}

.resume-title.list li h3 {
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.resume-title.list li h4 {
    font-size: 12px;
    color: #333;
    font-weight: 300;
    padding: 5px 0;
}

.resume-title.list li p {
    font-size: 13px;
    color: #989898;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0;
}

/* ---------------------------client------------------ */
.client-container {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.client-item {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    width: 100%;
    padding: 26px 16px;
}

.client-item img {
    width: 100%;
}

/* -------------------------Testimonials---------------- */
.testimonial-container {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.testimonial-item {
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    width: 100%;
}

.testimonial-top {
    display: inline-block;
}

.testimonial-top figure {
    display: block;
    width: 23%;
    float: left;
    border-radius: 50px;
    overflow: hidden;
}

.testimonial-top figure img {
    width: 100%;
    vertical-align: middle;
}

.name-info {
    width: 68%;
    padding: 8px 12px;
    float: left;
    line-height: 15px;
}

.name {
    font-size: 14px;
    font-weight: 500;
}

.job {
    font-size: 12px;
    color: #d0d0d0;
}

.testimonial-item hr {
    margin: 6px 0px 10px;
    border-top: 0px;
    border-left: 0;
    background: #efefef;
    width: 100%;
}

.testimonial-item p {
    color: #989898;
    font-size: 12.5px;
    line-height: 20px;
    margin: 0;
}

.dot-container {
    margin-top: 30px;
}

.dot-item {
    width: 10px;
    height: 10px;
    background: #ffc500 !important;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px;
}

/* ----------------------portfolio---------------------- */
.portfolio-menu {
    display: flex;
    margin-top: 30px;
    color: #fff;
}

.portfolio-menu li {
    font-size: 14px;
    color: #787878;
    cursor: pointer;
    float: left;
    margin-right: 15px;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15px 0;
    margin: 0px -15px;
}

.portfolio-item {
    padding: 15px;
    background-color: rgba(199, 198, 198, 0.07);
    width: 100%;
}

.port-item-container {
    border-radius: 8px;
    display: inline-block;
    overflow: hidden;
    box-shadow: 0px 0px 48px 0px rgba(4, 6, 4, 0.08);
    position: relative;
}

.portfolio-item img {
    width: 100%;
}

.portfolio-info {
    background-color: #fff;
    padding: 15px;
}

.portfolio-info h4 {
    font-size: 14px;
    color: #000;
    font-weight: 300;
    margin-left: 2px;
}

.portfolio-info p {
    margin: 2px;
    font-size: 13px;
    color: #989898;
    line-height: 18px;
    display: block;
}

.port-more p {
    margin-top: 0px;
    font-weight: bold;
    font-size: 14px;
}

.port-icon {
    position: absolute;
    z-index: 1;
    width: 50px;
    height: 50px;
    background: rgb(255, 197, 1);
    border-radius: 50%;
    margin-top: 110px;
    margin-left: 90px;
    opacity: 0;
    transition: all ease 0.3s;
    visibility: hidden;
}

.port-icon i {
    margin-left: 16px;
    line-height: 50px;
}

.port-item-container:hover .port-icon {
    visibility: visible;
    opacity: 0.9;
    margin-top: 70px;
    margin-left: 90px;
}

/* ----------------------------blog----------------------- */
.portfolio-info h2 {
    font-size: 15px;
    color: #000;
    line-height: 20px;
    padding: 2px 0 4px;
    margin-left: 2px;
}

.portfolio-info span {
    color: #505050 !important;
    font-size: 11px;
    font-family: arial;
    margin-left: 2px;
}

.blog-container-col {
    flex: 1;
}

/* --------------------------contact---------------------- */
.contact-container {
    margin-top: 30px;
}

.form-info {
    width: 50%;
    padding-right: 15px;
    float: left;
}

.site-input {
    width: 100%;
    height: 45px;
    border: 0;
    color: #000;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding-left: 10px;
    margin-bottom: 15px;
    outline: 0;
}

.site-area {
    width: 100%;
    border: 0;
    border-bottom: solid 1px #dfdfdf;
    font-size: 13px;
    padding: 20px 0 0 10px;
    min-height: 100px;
    margin-bottom: 15px;
}

.site-area::placeholder {
    font-family: 'Roboto', sans-serif;
}

form .btn {
    width: 80px;
}

.contact-container ul li {
    list-style: none;
    font-size: 14px;
    color: #787878;
    line-height: 34px;
}

.contact-container span {
    color: #000;
}

.menu-icon-social {
    display: flex;
    margin-left: -10px;
    margin-top: 10px;
}

#contact iframe {
    padding: 40px 15px 0px 15px;
    width: 100%;
}
/* -------------------------------------responsive-------------------------- */
@media (max-width:1200px) {
    .container {
        width: 970px;
    }

    .content-left {
        width: calc(100%/3);
    }

    .content-right {
        width: calc(100%-100%/3);
    }

}

@media (max-width: 991px) {
    .container {
        width: 750px;
        flex-direction: column;
    }

    .content-left {
        width: 100%;
    }

    .content-right {
        width: 100%;
    }

    .profile {
        margin-bottom: 30px;
    }

    .profile ul {
        margin-left: 35%;
        margin-top: -45px;
    }

    .section-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .skill-section {
        flex-direction: column;
    }

    .section-skill {
        width: 100%;
    }

    .resume-container {
        flex-direction: column;
    }

    .resume-title {
        width: 100%;
    }

    .client-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact-section {
        flex-direction: column;
    }

    .form-info {
        width: 100%;
    }
}

@media (max-width: 1200px) and (min-width:769px) {
    .menu-icon-social {
        display: none;
    }
}

@media (max-width:768px) {
    .container {
        width: 100%;
    }

    .item {
        display: none;
    }

    .btn-hireme {
        display: none;
    }
}

@media (min-width:768px) {
    .hamburger {
        display: none;
    }
}